
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/Home.css" type="text/css" />
    <link rel="stylesheet" href="~/css/menu.css" type="text/css" />
</head>
<body>
    <h1 id="textstring"> Тестовая страница для проверки </h1>
    <div class="menu">
        <ul>
            <li><a asp-controller="Home" asp-action="Index">Главная</a></li>
            <li><a asp-controller="Home" asp-action="Checking">Проверка заказа</a></li>
            <li>
                <a class="menu-caret" asp-controller="Home" asp-action="Information">Услуги</a>
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">Ремонт компьютера 1</a></li>
                    <li><a asp-controller="Home" asp-action="Index">Диагностика на неисправности</a></li>
                    <li><a asp-controller="Home" asp-action="Index">Замена комплектующих</a></li>
                    <li><a asp-controller="Home" asp-action="Index">Диагностика Пк на вирусы</a></li>
                    <li><a asp-controller="Home" asp-action="Index">Переустановка операционной системы</a></li>
                </ul>
            </li>
            <li><a asp-controller="Home" asp-action="Contact">Контакты</a></li>

        </ul>
    </div>
    <div class="Des">
        <p>Ремонт электронной техники быстро и качественно!</p>
        <p>Нашей фирмой произведено более 1000 успешных заказов</p>
    </div>
    <img id="first" src="~/images/1.jpg" alt=" Здесь должна быть картинка " />
    <div class="malavasa">

        <h3 id="strinG">Быстрая заявка</h3>
        <form method="post" asp-controller="Home" asp-action="getting">
            <p>
                <label for="#">Адрес</label>
                <input type="text" name="adress" id="btn1">
            </p>
            <p>
                <label for="#">Номер телефона</label>
                <input type="text" name="phone" id="btn2">
            </p>
            <p class="full">
                <label for="#">Краткое описание</label>
                <textarea id="textArea" name="info" cols="30" rows="5"></textarea>
            </p>
            <input id="But" type="submit" value="Отправить заявку" />
        </form>

    </div>
    <div class="container">
        <img src="https://trikky.ru/wp-content/blogs.dir/1/files/2019/04/11/image_image_3026982.jpg" alt="avatar">
        <p><span>Оля Иванова</span> г. Тула</p>
        <p>Качество ремонта отличное,мастера быстро сделали диагностику и произвели работу.</p>
    </div>

    <footer class="foo">
        <p>Здесь будет контактная информация </b>made by DiplomProject"  </p>
    </footer>
</body>
</html>



